<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
      <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- Header Section -->
    <header class="w-full bg-white shadow-md">
      <div
        class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between"
      >
        <!-- Logo -->
        <div class="text-2xl font-bold text-blue-600">
          <a href="/">ECOM</a>
        </div>

        <% var loggedin = typeof loggedin !== "undefined" ? loggedin : "true" %>
        <!-- Desktop Menu -->
        <nav class="hidden md:flex space-x-8 items-center">
         <% if(loggedin) { %>
          <a href="/shop" class="text-gray-800 hover:text-blue-600">Shop</a>
          <a href="/cart" class="text-gray-800 hover:text-blue-600">Cart</a>
          <a href="/cart" class="text-gray-800 hover:text-blue-600">My Account</a>
          <a href="/users/logout" class="px-3 py-2 rounded-md bg-red-500 text-white">Logout</a>
         <% } %>
        </nav>

        <!--Hamburger Menu-->
        <div class="md:hidden flex items-center">
          <button id="menu-btn" class="text-gray-800 focus:outline-none">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              ></path>
            </svg>
          </button>
        </div>
      </div>

      <!-- Mobile Menu-->
      <div
        id="mobile-menu"
        class="md:hidden hidden bg-white shadow-md px-6 py-4"
      >
       <% if(loggedin) { %>
        <a href="/shop" class="block py-2 text-gray-800 hover:text-blue-600"
          >Shop</a
        >
        <a href="/cart" class="block py-2 text-gray-800 hover:text-blue-600"
          >Cart</a
        >
        <a href="/cart" class="block py-2 text-gray-800 hover:text-blue-600"
          >My Account</a
        >
        <a href="/users/logout" class="block py-2 text-red-500"
          >Logout</a
        >
        <%  } %>
      </div>
    </header>

    
    <script>
      const menuButton = document.getElementById("menu-btn");
      const mobileMenu = document.getElementById("mobile-menu");

      menuButton.addEventListener("click", () => {
        mobileMenu.classList.toggle("hidden");
      });
    </script>
  </body>
</html>
