<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ECOM - ejs</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%- include('./partials/header') %>

    <div class="min-h-screen flex flex-col">
      <% if(success.length > 0){ %>
    <div
      class="fixed top-4 left-1/2 transform -translate-x-1/2 bg-green-600 text-white px-6 py-3 rounded-md shadow-md z-50 max-w-md w-full text-center"
    >
      <%= success %>
    </div>
    <% } %>
      <div
        class="container px-6 sm:px-10 py-20 flex flex-grow flex-col sm:flex-row"
      >
        <!-- Sidebar -->
        <div class="w-full sm:w-[25%] flex flex-col items-start sm:mb-0 mb-8">
          <div class="flex flex-col space-y-4">
            <a class="block text-lg font-medium hover:text-blue-600" href="/shop"
              >All Products</a
            >
            <a class="block text-lg font-medium hover:text-blue-600" href=""
              >Create New Product</a
            >
          </div>
        </div>

        <!-- Main Content -->
        <main
          class="w-full sm:w-3/4 bg-white p-6 sm:p-8 shadow-lg ml-0 sm:ml-4 rounded-lg"
        >
          <h2 class="text-2xl font-bold mb-6">Create New Product</h2>
          <form action="/products/create" method="post" enctype="multipart/form-data">
            <!-- Product Details -->
            <div class="mb-8">
              <h3 class="text-xl font-semibold mb-4">Product Details</h3>
              <div class="mb-4">
                <label class="block mb-2 font-medium">Product Image</label>
                <input
                  type="file"
                   name="image"
                  class="py-2 px-4 border border-gray-300 rounded w-full"
                />
              </div>

              <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <input
                  type="text"
                  name="name"
                  placeholder="Product Name"
                  class="border p-2 rounded w-full"
                />
                <input
                  type="text"
                  name="price"
                  placeholder="Product Price"
                  class="border p-2 rounded w-full"
                />
                <input
                name="discount"
                  type="text"
                  placeholder="Discount Price"
                  class="border p-2 rounded w-full"
                />
              </div>
            </div>

            <!-- Panel Details -->
            <div>
              <h3 class="text-xl font-semibold mb-4">Panel Details</h3>
              <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <input
                  type="text"
                  name="bgColor"
                  placeholder="Background Color"
                  class="border p-2 rounded w-full"
                />
                <input
                  type="text"
                  name="panelColor"
                  placeholder="Panel Color"
                  class="border p-2 rounded w-full"
                />
                <input
                  type="text"
                  name="textColor"
                  placeholder="Text Color"
                  class="border p-2 rounded w-full"
                />
              </div>
            </div>

            <input
              class="px-6 py-2 rounded mt-6 bg-blue-500 text-white cursor-pointer hover:bg-blue-600 transition-all"
              type="submit"
              value="Create New Product"
            />
          </form>
        </main>
      </div>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
